/*GLOBALES*/
*{
  font-family: 'Segoe UI';
}
body{
  margin: 0;
}
/*HEADER*/
header{
  display: flex;
  justify-content: space-around;
  height: 10vh;
  box-shadow: 0 3px 9px #33a8dab5;
  & figure{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    > img{
      height: 70%;
    }
  }
  & nav{
    display: flex;
    align-items: center;
    & ul{
      display: flex;
      > li{
        list-style: none;
        margin: 0 5px;
        transition: all 0.7s ease;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
          font-weight: bold;
          font-size: 1.2em;
        }
      }
    }
  }
  > div:last-child{
    display: flex;
    align-items: center;
    & span{
      margin: 0 7px;
      transition: all 0.7s ease;
      &:hover{
        cursor: pointer;
        font-weight: bold;
        font-size: 2.2em;
      }
    }
  }
}