/*GLOBALES*/
*{
  font-family: 'Segoe UI';
}
body{
  margin: 0;
  min-height: 100vh;
}
/*HEADER*/
header{
  display: flex;
  justify-content: space-around;
  height: 10vh;
  box-shadow: 0 3px 9px #33a8dab5;
  & figure{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    > img{
      height: 70%;
    }
  }
  & nav{
    display: flex;
    align-items: center;
    & ul{
      display: flex;
      > li{
        list-style: none;
        margin: 0 5px;
        transition: all 0.7s ease;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
          font-weight: bold;
          font-size: 1.2em;
        }
      }
    }
  }
  > div:last-child{
    display: flex;
    align-items: center;
    & span{
      margin: 0 7px;
      transition: all 0.7s ease;
      &:hover{
        cursor: pointer;
        font-weight: bold;
        font-size: 2.2em;
      }
    }
  }
  /*FIN HEADER*/
}
/*MAIN*/
main{
  section{
    height: 90vh;
    &:nth-of-type(1){
      /* background: rgb(23, 23, 196); */
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    /* &:nth-of-type(2){
      background: rgb(15, 173, 29);
    }
    &:nth-of-type(3){
      background: rgb(218, 231, 34);
    }
    &:nth-of-type(4){
      background: rgb(165, 40, 181);
    } */
  }
}
#btnUp{
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 15px;
  border-radius: 40px;
  box-shadow: 0px 5px 7px #50fff6c2;
  cursor: pointer;
  transition: all 1s ease;
  &:hover{
    font-weight: bold;
    transform: scale(1.1);
  }
}
#personajes{
  display: flex;
  padding: 0 5%;
  flex-wrap: wrap;
}
.person{
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  > img{
    width: 90%;
    height: 50%;
    border: solid black 2px;
    border-radius: 12px;
  }
  h4, p{
    margin: 0;
  }
}
/*FIN MAIN*/

@media screen and (max-width: 600px){
  #personajes{
    justify-content: center;
    margin: 0 auto;
  }
  .person{
    width: 80vw;
  }
}